.navbar{
  display: flex;
  gap: 10px;
  
}
a {
  text-decoration: none;
}

.navbar a.active{
  background: #f41cb2;
  text-decoration: underline;
  font-weight: bold;
}

.navbar a.pending{
  background-color: rgb(157, 156, 156);
}
