body {
  background: #000;
  color: #fff;
}

.list{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.card-list{
  display: flex;
  flex-direction: column;
  border: 1px solid #fff;
  padding: 10px;
  width: 15%;
}